# SERVER
SERVER_PORT=3000

## DATABASE (SQL Server)
DB_HOST=localhost
DB_PORT=1433
DB_NAME=fleet_management
DB_USER=sa
DB_PASS=

## JWT
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

## REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL=60

## RABBITMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

## MONGODB
MONGODB_URI=mongodb://localhost:27017/fleet_audit
